body {
    background-color:#3d3d3d; 
    color: #FFFFFF;
    font-family: "Source Code Pro", monospace;
    margin: 0;
    padding: 0;
}

.error-message {
    color: red;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}



.city-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%;
    text-align: center;
    margin: 0; 
    padding: 0; 
    font-size: 2em; 
    color: #FFFFFF; 
    margin: 0;
}


@media (min-width: 768px) {
    .city-name h1 {
        font-size: 2.5em;
    }
}

@media (min-width: 1024px) {
    .city-name h1 {
        font-size: 3em; 
    }
}









