#navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
}

#navbar-title {
    color: #F0FFFF;
    font-size: 1.8em;
    margin: 0;
    text-align: center;
}

#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px; 
}

#searchbar {
    flex: 1;
    padding: 10px;
    border: 1px solid #3d3d3d;
    border-radius: 15px 0 0 15px;
    background-color: #282828; 
    color: #FFFFFF;
    outline: none;
    font-size: 1em;
    transition: border 0.3s ease-in-out;
}

#searchbar::placeholder {
    color: #B3B3B3; 
}

#searchbar:focus {
    border-color: #4682B4; 
}

#searchbutton {
    padding: 10px 20px;
    background-color: #404040; 
    color: #F0FFFF; 
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 1em;
}

#searchbutton:hover {
    background: linear-gradient(135deg, #87CEEB 0%, #4682B4 100%);
    color: white;
}


@media (min-width: 768px) {
    #navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    #navbar-title {
        font-size: 2em;
        text-align: left;
    }

    #search-container {
        max-width: 400px;
    }

    
}