.weather-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 16px;
    min-height: 100vh;
    max-width: 1500px; /* Set a max width */
    margin: 0 auto; /* Center the container */
}

/* Weather Card Styling */
.weather-card {
    flex: 1 1 250px; /* Flex-grow: 1, Flex-shrink: 1, Base width: 250px */
    max-width: 250px; /* Ensure cards don't stretch beyond this width */
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 50px;
    transition: background-color 0.3s ease-in-out;
}

.weather-card h2 {
    color: #FFFFFF;
}

.weather-card-body {
    margin-top: 12px;
}

.weather-icon {
    width: 80px;
    height: 80px;
}

.description span {
    font-size: 1.1em;
    color: #FFFFFF; /* Consistent white for description */
}


/* Temperature Styling - Larger and Responsive */
.temperature {
    font-size: 2em; /* Base size for small screens */
    margin: 4px 0;
    color: #FFFFFF; /* Consistent white for temperature */
}

@media (min-width: 768px) {
    .temperature {
          font-size: 2.5em; /* Slightly larger temperature text on medium screens */
      }
  
  }
@media (min-width: 1024px) {
      .temperature {
          font-size: 3em; /* Even larger temperature text on large screens */
      }
  }

.wind-speed {
    font-size: 0.9em;
    margin: 4px 0;
    color: #FFFFFF; /* Consistent white for wind speed */
}

.weather-card.sunny {
    background: linear-gradient(135deg, #FFD700 0%, #FFA500 100%); /* Gradient from Gold to Orange for sunny */
    color: #000000; /* Dark text on light background */
}

.weather-card.cloudy {
    background: linear-gradient(135deg, #A9A9A9 0%, #696969 100%); /* Gradient from DarkGray to DimGray for cloudy */
    color: #000000; /* Dark text on light background */
}

.weather-card.rainy {
    background: linear-gradient(135deg, #87CEEB 0%, #4682B4 100%); /* Gradient from LightBlue to SteelBlue for rainy */
    color: #000000; /* Dark text on light background */
}

.weather-card.snowy {
    background: linear-gradient(135deg, #FFFFFF 0%, #D3D3D3 100%); /* Gradient from White to LightGray for snowy */
    color: #000000; /* Dark text on light background */
}

.weather-card.drizzly {
    background: linear-gradient(135deg, #B0E0E6 0%, #5F9EA0 100%); /* Gradient from PowderBlue to CadetBlue for drizzly */
    color: #000000; /* Dark text on light background */
}

.weather-card.stormy {
    background: linear-gradient(135deg, #778899 0%, #2F4F4F 100%); /* Gradient from LightSlateGray to DarkSlateGray for stormy */
    color: #000000; /* Dark text on light background */
}

.weather-card.default {
    background: linear-gradient(135deg, #f9f9f9 0%, #e0e0e0 100%); /* Gradient from light gray to slightly darker gray for default */
    color: #000000; /* Dark text on light background */
}


