.weather-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 16px;
    min-height: 100vh;
    max-width: 1500px;
    margin: 0 auto; 
}


.weather-card {
    flex: 1 1 250px; 
    max-width: 250px; 
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 50px;
    transition: background-color 0.3s ease-in-out;
}

.weather-card h2 {
    color: #FFFFFF;
}

.weather-card-body {
    margin-top: 12px;
}

.weather-icon {
    width: 80px;
    height: 80px;
}

.description span {
    font-size: 1.1em;
    color: #FFFFFF;
}



.temperature {
    font-size: 2em; 
    margin: 4px 0;
    color: #FFFFFF; 
}

@media (min-width: 768px) {
    .temperature {
          font-size: 2.5em; 
      }
  
  }
@media (min-width: 1024px) {
      .temperature {
          font-size: 3em;
      }
  }

.wind-speed {
    font-size: 0.9em;
    margin: 4px 0;
    color: #FFFFFF; 
}

.weather-card.sunny {
    background: linear-gradient(135deg, #FFD700 0%, #FFA500 100%); 
    color: #000000; 
}

.weather-card.cloudy {
    background: linear-gradient(135deg, #A9A9A9 0%, #696969 100%); 
    color: #000000; 
}

.weather-card.rainy {
    background: linear-gradient(135deg, #87CEEB 0%, #4682B4 100%); 
    color: #000000; 
}

.weather-card.snowy {
    background: linear-gradient(135deg, #FFFFFF 0%, #D3D3D3 100%);
    color: #000000; 
}

.weather-card.drizzly {
    background: linear-gradient(135deg, #B0E0E6 0%, #5F9EA0 100%); 
    color: #000000; 
}

.weather-card.stormy {
    background: linear-gradient(135deg, #778899 0%, #2F4F4F 100%); 
    color: #000000; 
}

.weather-card.default {
    background: linear-gradient(135deg, #f9f9f9 0%, #e0e0e0 100%);
    color: #000000; 
}


